@model SalesMVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Call our Customer Service Rep for support</h3>
<img src="https://i.pinimg.com/originals/76/1b/ee/761beee2e0aaf88f32a0916c046c83ae.jpg" alt="Kelly Kapoor" height="360" width="300" class="pull-left img-responsive"/>
<p>
    <h3><strong>Kelly Kapoor</strong></h3>
    <h3>(570)904-5023</h3>
</p>
