@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Scranton Business Park, Suite 200<br />
    1725 Slough Avenu<br />
    <abbr title="Phone">P:</abbr>
    (570)904-5023
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@dudermifflin.com">support@dundermifflin.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dudermifflin.com">marketing@dundermifflin.com</a>
</address>
